.form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-control input,
.form-control textarea {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: 20rem;
}

.form-control.invalid input,
.form-control.invalid textarea {
  border: 1px solid red;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  margin-top: 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}
